/****************************** Contenedor Comentarios ****************************** */
.coments{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ******************************** Tamaño scroll ****************************** */

.horizontal-scroll{
    height: 500px;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    left: 0;
}

/* Flechas */

.fa-solid{
    color: #797979;
    font-size: 1.5em;
    cursor: pointer;
    transition: .4s;
    z-index: 99;
    position: absolute;
}

/* Flecha Derecha */

.flecha-right{
    position: relative;
    right: 5px;
}

/* Flecha Izquierda */

.flecha-left{
    position: relative;
    left: 5px;
} 

/* Comentarios */

.comentarios{ 
   width: 3100px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   transition: 1s;
   gap: 17px;
}

/* Cada comentario solo */

.coment{
    height: auto;
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
}

/* Parrafor de Cometarios */

.coment p{
    color: #000000;
    font-family: var(--f-h2);
    font-weight: 100;
    text-align: center;
}

/* Contenedor de Imagenes */

.circuloima{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Imagenes */

.coment img{
    width: 100px;
    height: auto;
    position: relative;
}

/* Responsive */

@media only screen and (min-width: 720px){
    .comentarios{
        left: -25px;
    }
    .horizontal-scroll{
        width: 100%;
    }
}
@media only screen and (min-width: 1100px){
    .comentarios{
        left: -50px;
    }
    .horizontal-scroll{
        width: 80%;
    }
}

