/* Contenedor sección */

.galerias{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 50px;   
    padding-top: 100px; 
}
 
/* Galerías */

.conUno{
    height: 400px;
    width: 310px;
    background: var(--opacity), url("../imagenes/Index/foto-73.webp") center center no-repeat;
    background-size: cover;
    box-shadow: 1px 0px 20px 0.5px #000000;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.conDos{
    height: 400px;
    width: 310px;
    background: var(--opacity-dos), url("../imagenes/Index/foto-41.webp") center center no-repeat;
    background-size: cover;
    box-shadow: 1px 0px 20px 0.5px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conTres{
    height: 400px;
    width: 310px;
    background: var(--opacity-dos), url("../imagenes/Index/foto-75.webp") center center no-repeat;
    background-size: cover;
    box-shadow: 1px 0px 20px 0.5px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Titulos Galerías */

.contai p{
    color: #ffffff;
    font-family: var(--f-h1);
    font-size: 3em;
    font-weight: 600;
}

@media only screen and (min-width: 1200px){
    .galerias{
        height: 100vh;
        padding-top: 0; 
    }
    .contai{
        cursor: pointer;
        transition: .4s;
    }
    .contai:hover{
        box-shadow: 1px 0px 20px 4px #000000;
    }
}
   