
/* Galerías Todo */

.galerias{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    transition: 1s;
    z-index: 400;
    position: relative;
}
/* .image p{
    color: #000000;
    font-family: var(--f-h2);
    font-size: 2em;
    font-weight: 100;
} 
.image i{ 
    color: #ff7b00ce;
    font-size: 9em;
} */

/* Contenedor Galería  */

.containegalery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
}

/* Imagenes de Galería Uno */

.containegalery img{
    height: auto;
    width: 350px;
    object-fit: contain;
    padding: 5px;
    transition: .4s;
}
.column{
    flex: 24%;
}

/* Contenedor Imagenes */

.image{
    cursor: pointer;
    transition: .4s;
    overflow: hidden;
}

/* Textos y Botones */

.gale{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: var(--clr-Uno);
    font-family: var(--f-h2);
    font-size: 1.3em;
    font-weight: 100; 
    transition: .4s;   
    padding-top: 50px;
}

/* Botón de Hotel */

.hotel{
    position: relative;
    cursor: pointer;
    transition: .4s;
    border-bottom: 2px solid #ff7b0000;
}

/* Hover Hotel */

.hotel::after{
    content: " ";
    height: 2px;
    width: 25px;
    background: var(--clr-Uno);
    position: absolute;
    transition: .4s;
}

@media only screen and (min-width: 720px){
    img:hover{
        cursor: pointer;
        transform:scale(1.01);
    }
    .containegalery{
        width: 100%;
    }

}  


/* Galerias Atracciones */

.galeriasAtrac{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    transition: 1s;
    position: absolute;
    top: 115vh;
    opacity: 0;
    z-index: 0;
}
.image p{
    color: #000000;
    font-family: var(--f-h2);
    font-size: 2em;
    font-weight: 100; 
} 
.image i{
    color: #ff7b00ce;
    font-size: 9em;
}
.containegaleryDos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
}
.containegaleryDos img{
    height: auto;
    width: 335px;
    object-fit: contain;
    padding: 5px;
    transition: .4s;
}
.column{
    flex: 24%;
}
.image{
    cursor: pointer;
}
.atrac{
    position: relative;
    cursor: pointer;
}
.atrac::after{
    content: " ";
    height: 2px;
    width: 40px;
    background: var(--clr-Uno);
    position: absolute;
    transition: .4s;
}
.atrac{
    position: relative;
}
.atrac:hover::after{
    width: 170px;
    height: 2px;
}
.hotel:hover::after{
    width: 70px;
    height: 2px;
}

@media only screen and (min-width: 720px){
    .containegaleryDos{
        width: 100%;
    }
}  


/* Galerías Lightbox */
.imagen-activa{
    width: 100%;
    height: auto;
    transition: .4s;
}
.contenedor-principal{ 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200000;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: #000000d0;
    transition: .4s;
}
.contenedor-interno{
    width: 500px;
    height: auto;
    padding: 2px;
    display: flex;
    justify-content: center;
    transition: .4s;
}

/* Botones Lighthouse */

.botonhouse{
    cursor: pointer;
    background: transparent;
    border: none;
    color: #f3f3f3;
    transition: .4s;
    height: 40px;
    width: auto;
}
.botonhouse img{
    height: 40px;
    width: auto;
}
.btn-cierra{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 3em;
}
.btn-retrocede{
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 3em;
}
.btn-adelanta{
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 3em;
}


/************************************* Galerías Lightbox dos *************************************/
.imagen-activa2{
    width: 100%;
    height: auto;
    transition: .4s;
}
.contenedor-principal2{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: #000000d0;
    transition: .4s;
}
.contenedor-interno2{
    width: 500px;
    height: auto;
    padding: 2px;
    display: flex;
    justify-content: center;
    transition: .4s;
}

/* Botones Lighthouse */

.botonhouse2{
    cursor: pointer;
    background: transparent;
    border: none;
    color: #f3f3f3;
    transition: .4s;
    height: 40px;
    width: auto;
}
.botonhouse2 img{
    height: 40px;
    width: auto;
}
.btn2-cierra{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 3em;
}
.btn2-retrocede{
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 3em;
}
.btn2-adelanta{
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 3em;
}

