.galeriasAtrac{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    transition: 1s;
    position: absolute;
    top: 690px;
    opacity: 0;
    z-index: 0;
}
.image p{
    color: #000000;
    font-family: var(--f-h2);
    font-size: 2em;
    font-weight: 100; 
} 
.image i{
    color: #ff7b00ce;
    font-size: 9em;
}
.containegaleryDos{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}
img{
    height: auto;
    width: 100%;
    object-fit: contain;
    padding: 5px;
}
.column{
    flex: 24%;
}
.image{
    cursor: pointer;
}
.atrac{
    position: relative;
    cursor: pointer;
}
.atrac::after{
    content: " ";
    height: 2px;
    width: 40px;
    background: var(--clr-Uno);
    position: absolute;
    transition: .4s;
}
.atrac{
    position: relative;
}
.atrac:hover::after{
    width: 170px;
    height: 2px;
}
.hotel:hover::after{
    width: 70px;
    height: 2px;
}

@media only screen and (min-width: 800px){
    .containegaleryDos{
        flex-wrap: nowrap;
    }
    .galeriasAtrac{
        top: 745px;
    }
}  