footer{
    height: auto;
    width: 100%;
    display: flex;
    padding-top: 100px;
}
.footercontainer{
    display: flex;
    flex-direction: column;
    background: rgba(50, 50, 50, 0.987);
    width: 100%;
}
.footercontainer h5{ 
    font-size: 1.1em;
    font-family: var(--f-h2);
    font-weight: 100;
    color: #ffffff;
    cursor: pointer;
}
.colu{ 
    padding: 30px;
    gap: 20px;
    display: flex; 
    flex-direction: column;
    text-align: center;
}
.media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.media ion-icon{
    color: #ffffff;
    font-size: 3em;
    cursor: pointer;
}
.coludos{
    padding-top: 45px;
} 
.colum h5{
    cursor: text;
    text-align: center;
}
.logodos img{
    height: auto;
    width: 160px;
}
.mapaDesktop{
    display: none;
} 

@media only screen and (min-width: 1200px){
    .footercontainer{
        flex-direction: row;
        gap: 75px;
    }
    .media{
        justify-content: center;
    }
    .mapauno{
        display: none;
    }
    .mapaDesktop{
        display: block;
        width: 800px;
    } 
    .colum h5{
        cursor: text;
        text-align: start;
    }
    .colu{  
        text-align: start;
    }
    .media{
        justify-content: flex-start;
    }

} 